<?xml version="1.0"?>
<launch>
   <node pkg="tf2_ros" type="static_transform_publisher" name="tf_static_decawave" args="0 0 0 0 0 0 1 map anchor1"/>
   
   <group ns="tag1">
      <node name="decawave_decoding" pkg="mqtt_bridge" type="decawave_decoding.py" output="screen"/>
   </group>
   
   <group ns="tag2">
      <node name="decawave_decoding" pkg="mqtt_bridge" type="decawave_decoding.py" output="screen"/>
   </group>
</launch>
